@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inset-x-center {
    left: 50%;
    transform: translateX(-50%);
  }

  .inset-y-center {
    top: 50%;
    transform: translateY(-50%);
  }

  .inset-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

:root {
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-black-5: rgba(0, 0, 0, 0.5);
  --light-grey: #d9d9d9;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: var(--font-primary);
}

img {
  max-width: 100%;
  max-height: 100%;
}

input {
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: var(--light-grey) !important;
}

.landingHomeSwiper {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 36px !important;
    padding: 8px;
    width: 52px !important;
    height: 52px;
    border-radius: 100%;
    background: var(--color-white-75);
    color: var(--color-black-5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;

    @media (min-width: 768px) {
      display: inline-block !important;
    }
  }

  .swiper-button-next {
    transform: translateX(max(-3vw, -38px));
  }

  .swiper-button-prev {
    transform: translateX(min(3vw, 38px));
  }
}

.galleryThumbsSwiper {
  .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }
}
